<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.smvc.mapper.DepMapper">

    <select id="load" resultType="Department">
        SELECT * FROM t_dep WHERE id = #{id}
    </select>
    <select id="list" resultType="Department">
        SELECT * FROM t_dep;
    </select>
</mapper>